/* stili generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* stili header */
header {
    padding: 20px;
    height: 80px;
    width: 100%;
    display: flex;
}

.logo {
    width: 200px;
    padding: 5px;
}

.search-label {
    width: 100%;
}

.iconhead {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

/* stili main */
.wrapper {
    height: calc(100vh - 80px);
    display: flex;
}

/* stili SIDE BAR */
.side-bar {
    width: 120px;
    background-color: hsl(208.7, 76.7%, 11.8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: white;
    /* background-image: url("img /sidebar-bg."); */
}

.menu {
    padding-bottom: 5px;
}

.menu a, .menu-bottom a {
    text-decoration: none;
    color: white;
    padding-left: 7px;
    font-size: 12px;
}

.menu i, .menu-bottom i {
    font-size: 15px;
} 

#stats {
    padding-left: 12px;
}



/* stili CONTENT */
.content {
    width: calc(100vw - 120px);
    background-color: #141922;
    overflow-y: auto;
    /* regole debug */
    background-color: #f8f9fa;
}

/* stili nav bar content */
.nav-content {
    min-height: 100px;
    width: 100%;
    /* display: flex; */
    padding: 20px;
    background-color: #1b72e8;
    color: white;
}

.nav-content span{
    font-size: 14px;
}

.title-nav span{
    margin: 0 2px;
    padding: 5px;
    border-radius: 5px;
    background-color:#165bba;
    font-size: 13px;
}

h1 {
    display: inline-block;
    font-size: 30px;
}

.number {
    display: flex;
    flex-direction: column;
 }

.new {
    display: flex;
    align-items: center;
}

 .student i {
    font-size: 30px;
    padding-left: 10px;
 }

 
.table-prossime-classi img{
    width: 20px;

}

/* stili main content */
.title-table {
    border: 1px solid #dadada;
    background-color: hsl(0,0%,90%);
    margin: 20px 10px;
}


/* stili struttura grafico */
.struttura-table {
    padding: 15px;
    border: 1px solid #dadada;
    background-color: white;
}

.grafico {
    border: 1px solid #dadada;
    padding: 10px;
}


.grafico img{
    width: 100%;
}








/* versione tablet */
@media all and (max-width:768px) {
    .side-bar {
        width: 50px;
    }

    .content {
        width: calc(100vw - 50px);
    }
    
    .menu a, .menu-bottom a {
        display: none;
    }
}