/* stili generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* stili header */
header {
    padding: 20px;
    height: 80px;
    width: 100%;
    display: flex;
}

.logo {
    width: 200px;
    padding: 5px;
}

.logo-small {
    width: 200px;
    display: none;
}

.search-label {
    width: 100%;
}

.form-control {
    background-color: hsl(0, 0%, 89.8%);
}

.iconhead {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.icon {
    display: flex;
}

.iconhead i {
    margin-right: 10px;
}

.campanellino {

}

.fa-bell {
    color: #ff8f00;
}

/* stili main */
.wrapper {
    height: calc(100vh - 80px);
    display: flex;
}

/* stili SIDE BAR */
.side-bar {
    width: 120px;
    background-color: hsl(208.7, 76.7%, 11.8%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: white;
    /* background-image: url("img /sidebar-bg."); */
}

.menu, .menu-bottom{
    padding: 5px;
    padding-bottom: 5px;
}

.menu:hover, .menu-bottom:hover {
    background-color: rgba(128, 128, 128, 0.483);
}

.menu a, .menu-bottom a {
    text-decoration: none;
    color: white;
    padding-left: 7px;
    font-size: 12px;
}

.menu i, .menu-bottom i {
    font-size: 15px;
} 

#stats {
    padding-left: 12px;
}



/* stili CONTENT */
.content {
    width: calc(100vw - 120px);
    background-color: #141922;
    overflow-y: auto;
    /* regole debug */
    background-color: #f8f9fa;
}

/* stili nav bar content */
.nav-content {
    min-height: 100px;
    width: 100%;
    /* display: flex; */
    padding: 20px;
    background-color: #1b72e8;
    color: white;
}

.nav-content span{
    font-size: 14px;
}


.title-nav span{
    margin: 0 2px;
    padding: 5px;
    border-radius: 13px;
    background-color:#165bba;
    font-size: 13px;
}

.breadcrumb-title {
    display: flex;
}

.breadcrumb-plus {
    display: none;
}

h1 {
    display: inline-block;
    font-size: 30px;
}

.number {
    display: flex;
    flex-direction: column;
 }

 .number span {
    margin-bottom: 10px;
 }

.new {
    display: flex;
    align-items: center;
}

.new span {
    margin-right: 10px;
}

.btn-primary {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

/* stili main content */
.title-table {
    border: 1px solid #dadada;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: hsl(0,0%,90%);
    margin-top: 20px;
    margin-left: 10px;
    padding: 7px 7px 10px 7px;
}

.struttura-table {
    padding: 15px;
    border: 1px solid #dadada;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 10px;
}

.grafico {
    border: 1px solid #dadada;
    padding: 10px;
}

/* stili struttra table prossime classi */
.table-prossime-classi img{
    width: 20px;
    margin-right: 5px;

}

.n {
    width: 40%;
    text-align: left;
}

.b {
    display: flex;
    justify-content: center;
}

.btn-light {
    border: 1px solid black;
    margin-right: 5px;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.grafico img{
    width: 100%;
}








/* versione tablet */
@media all and (max-width:768px) {
    /* .logo-small {
        display: inline-block;
    }

    .logo {
        display: none;
    } */

    .icon {
        display: none;
    }
    
    .iconhead {
        width: auto;
    }

    .side-bar {
        width: 50px;
    }

    .content {
        width: calc(100vw - 50px);
    }
    
    .menu a, .menu-bottom a {
        display: none;
    }

    .breadcrumb-app {
        display: none;
    }

    .breadcrumb-plus {
        display: inline-block;
    }

    .n {
        width: auto;
        
    }

}

@media all and (max-width:576px) {
    .data {
        display: none;
    }
}